<!-- views/applications/edit.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <div class="edit-body">
    <h1>Edit <%= pantry.name %></h1>
  <form 
    action="/users/<%= user._id %>/foods/<%= pantry._id %>?_method=PUT"
    method="POST"
  >
    <label for="name">Name:</label>
    <input 
      type="text" 
      name="name" 
      id="name" 
      value="<%= pantry.name %>"
    >
    <button type="submit">Update Pantry</button>
  </form>
  </div>
</body>
</html>
